@keyframes AparecerTarefa{
  to{
    opacity: 1;
  }
  from{
    opacity: 0;
  }
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F4F4F4;
  padding: 30px;
  color: #333;
  background-image: url('./imagens/imagem de fundo2.jpg');
  background-position: center;
  background-size: cover;
}

.app{
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: #efefef;
  padding: 20px 30px;
  border-radius: 10px;
}

h1{text-align: center;}

h2{margin-bottom: 10px;}

p{margin: 10px 0px;}

input{
  box-sizing: border-box;
}

button{
  background-color: #333974;
  color: #FFF;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
  margin-right: 10px;
}

button:hover{
  opacity: 1;
}

.todo-lista{
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #555;
  animation: AparecerTarefa 1s normal  normal ;
}

.todo{
  background-color: #FFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completar{
  background-color:#5cb85c ;
}

.remover{
  background-color: #d9534f;
}

.todo-formulario{
  padding-bottom: 1.5em;
}

input, select {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #DDD;
  border-radius: 3px;
  width: 100%;
}